body {
    padding: 30px;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-family: fantasy;
    height: 440px;
    width: 600px;
    box-shadow: 0px 0px 8px 2px grey;

}

i {
    font-size: 140px;
    filter: drop-shadow(0 0 0.9rem #65d6f8);
}

#play-simon {
    padding: 10px;
    border-radius: 15px;
    border: rgb(2, 1, 1) solid 3px;
}

#simon-box {
    font-size: 36px;
    margin: 30px;
    border-radius: 15px;
    border: coral dashed 2px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px coral;
}

span {
    font-family: fantasy;
    font-size: 30px;
}

#start-game {
    margin: 20px;
    width: 110px;
    height: 60px;
    font-size: 20px;
    outline: none;
    border-radius: 15px;
    border: solid 2px black;
    display: none;
}

.color-box {
    display: none;
    margin-top: 10px;
    width: 420px;
    height: 200px; 
    flex-direction: row;   
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

button {
    width: 100px;
    height: 100px;
    outline: none;
    border-radius: 15px;
    border: solid 2px black;
}

#rojo {
    background-color: red;
}

#amarillo {
    background-color: yellow;
}

#azul {
    background-color: blue;
}

#verde {
    background-color: green;
}

#cheked {
    height: 50px;
    margin: 20px;
    background-color: grey;
    color: white;
}

#reset {
    height: 50px;
    width: 150px;
    margin: 20px;
    background-color: grey;
    color: white;
    font-size: 15px;
}


 /* Hover y active */

#play-simon:hover {
    box-shadow: 0px 0px 21px 8px rgb(43, 175, 251);
}

#start-game:hover {
    filter: drop-shadow(0 0 0.8rem #504f48);
    transition: .5s;
    box-shadow: 0px 0px 21px 8px yellowgreen;
}

#reset:active { 
    background-color: red; 
}
#reset:hover {
    box-shadow: 0px 0px 21px 8px rgb(230, 153, 153);
    transition: .5s;
}

#cheked:active { 
    background-color: red; 
}
#cheked:hover {
    filter: drop-shadow(0 0 0.8rem #519555);
    transition: .5s;
}

#rojo:active:hover {
    background-color: rgb(224, 85, 201);
    filter: drop-shadow(0 0 0.8rem rgb(238, 118, 118));
}
#amarillo:active:hover {
    background-color: rgb(245, 244, 238) ;
    filter: drop-shadow(0 0 0.8rem rgb(207, 207, 141));
}
#verde:active:hover {
    background-color: greenyellow;
    filter: drop-shadow(0 0 0.8rem rgb(159, 226, 159));
}
#azul:active:hover {
    background-color: rgb(96, 243, 248) ;
    filter: drop-shadow(0 0 0.8rem rgb(184, 184, 240));
}

