body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: center;
    background-color: #B8DC3C;
}

.box1 {
    width: 600px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: honeydew;
    border: 2px #DB2464 solid; 
    border-radius: 35px;
    padding: 10px;
    margin: 20px;
}

.box2 {
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: honeydew;
    border: 2px #CB2402 solid; 
    border-radius: 35px;
    margin: 5px;
    background-color: #4C49A2;
}

button {
    width: 170px;
    height: 50px;
    outline: none;
    border: 3px solid black;
    font-size: 20px;
    border-radius: 15px;
    margin: 5px;
}

span {
    height: 50px;
    width: 270px;
    border: 2px solid #CB2402;
    font-size: 20px;
    border-radius: 35px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}