body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: center;
    background-color: #8FBE00;
}

.box1 {
    width: 600px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #00A8C6;
    border: 2px #AEE239 inset; 
    border-radius: 35px;
    padding: 10px;
    margin: 20px;
}

.box2 {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #40C0CB;
    border: 2px #AEE239 inset;  
    border-radius: 35px;
    margin: 5px;
    background-color: ;
}

button {
    width: 170px;
    height: 50px;
    outline: none;
    border: 3px solid #266c79;
    font-size: 20px;
    border-radius: 15px;
    margin: 5px;
}

span {
    height: 50px;
    width: 270px;
    border: 2px solid #00A8C6;
    font-size: 20px;
    border-radius: 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}